name: Deploy to digitalocean
on:
  push:
    branches: [main]

jobs:
  build:
    runs-on: [self-hosted]
    steps:
      - uses: actions/checkout@v2
      - name: Rebuild images
        run: |
          docker-compose up -d --build
